body{
    background:#11a6c0;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
}
h1{
    color:#6f7bfc;
    text-align: center;
}
.about{
    background: #00b3d1;
}
.projects{ display:flex-wrap:wrap; }
.project{
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%
}
